.list {
    position: sticky;
    top: 0;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;
}

.break {
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;
}

.btn-break {
    background-color: rgb(34, 136, 114);
    padding: 0 9px;
    border: 0;
    border-radius: 3px;
    margin: 0 3px;
}

.btn-break:hover {
    background-color: aquamarine;
}

.time {
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;
}