.club-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.list-container {
    background-color: rgba(68, 148, 171, 0.3);
    padding: 30px 15px;
}

.event-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}



@media screen and (max-width: 688px) {
    .club-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }


    .event-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }
}

@media screen and (min-width: 689px) and (max-width: 992px) {

    .club-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }


    .event-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

}