.header {
    height: 80px;
    background-color: #4b95c7;
    display: flex;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 50px;
}

.header h1 {
    color: white;
    padding-left: 5px;
}